.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: var(--surface-border);
}

.elevation0 {
  background-color: var(--surface-0-color);
}

.elevation1 {
  background-color: var(--surface-1-color);
  box-shadow: var(--surface-box-shadow);
}

.title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
