.successButton, .dangerButton {
  border: none;
  border-radius: var(--border-radius);
  padding: 8px;
  white-space: nowrap;
  width: fit-content;
}

.successButton:hover, .dangerButton:hover {
  cursor: pointer;
}

.successButton {
  background-color: var(--button-success-background-color);
  color: var(--button-success-text-color);

  &:hover {
    background-color: var(--button-success-background-color-hover);
  }
}

.dangerButton {
  background-color: var(--button-danger-background-color);
  color: var(--button-danger-text-color);

  &:hover {
    background-color: var(--button-danger-background-color-hover);
  }
}
