.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: var(--surface-box-shadow);
  background-color: var(--surface-0-color);
  border-radius: var(--border-radius);
  border: var(--surface-border);
  position: absolute;
  width: 96%;
  top: 10%;
  left: 2%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 1rem;
  margin: 0.5rem;
}

.close {
  font-size: 1.4rem;
  margin: 0.5rem;
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
    color: var(--button-outline-primary-text-color);
  }
}

.body {
  width: 100%;
}
