body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.logo {
  background: var(--logo) no-repeat;
  width: auto;
  height: 3rem;
}
