:root {
  color-scheme: dark light;

  --logo: url("/images/logo.svg");

  --gatling-color-primary-300: #D8D8F3;
  --gatling-color-primary-300-opacity: #D8D8F380;
  --gatling-color-primary-400: #8888DD;
  --gatling-color-primary-500: #6161d6;
  --gatling-color-primary-600: #3939CB;

  --gatling-color-success-400: #A1D698;
  --gatling-color-success-500: #68B65C;
  --gatling-color-success-600: #59ac4d;

  --gatling-color-error-400: #F15555;
  --gatling-color-error-500: #E72313;
  --gatling-color-error-600: #cf1f11;

  --gatling-color-gray-800: #353638;
  --gatling-color-gray-700: #525356;
  --gatling-color-gray-500: #8A8D92;
  --gatling-color-gray-400: #CFD1D6;
  --gatling-color-gray-300: #E6E7EA;

  --box-shadow: 0px 8px 16px 4px var(--gatling-color-primary-300-opacity);
  --border: 1px solid var(--gatling-color-gray-300);
  --border-radius: 4px;

  --black: #1F2024;
  --white: #f7f7f7;

  --background-color: var(--white);
  --text-color: var(--black);

  --surface-0-color: var(--white);
  --surface-1-color: var(--white);
  --surface-box-shadow: var(--box-shadow);
  --surface-border: var(--border);

  --button-success-background-color: var(--gatling-color-success-500);
  --button-success-background-color-hover: var(--gatling-color-success-600);
  --button-success-text-color: var(--white);
  --button-danger-background-color: var(--gatling-color-error-400);
  --button-danger-background-color-hover: var(--gatling-color-error-500);
  --button-danger-text-color: var(--white);

  --button-primary-background-color: var(--gatling-color-primary-500);
  --button-primary-text-color: var(--white);
  --button-primary-background-color-hover: var(--gatling-color-primary-600);
  --button-primary-text-color-hover: var(--white);

  --button-outline-primary-background-color: var(--white);
  --button-outline-primary-text-color: var(--gatling-color-primary-500);
  --button-outline-primary-background-color-hover: var(--button-outline-primary-text-color);
  --button-outline-primary-text-color-hover: var(--button-outline-primary-background-color);
  --button-outline-primary-border-color: var(--button-outline-primary-text-color);

  --button-outline-danger-background-color: var(--white);
  --button-outline-danger-text-color: var(--gatling-color-error-400);
  --button-outline-danger-background-color-hover: var(--button-outline-danger-text-color);
  --button-outline-danger-text-color-hover: var(--button-outline-danger-background-color);
  --button-outline-danger-border-color: var(--button-outline-danger-text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --logo: url("/images/logo-dark.svg");

    --background-color: var(--black);
    --text-color: var(--white);

    --surface-0-color: var(--gatling-color-gray-800);
    --surface-1-color: var(--gatling-color-gray-700);
    --surface-box-shadow: none;
    --surface-border: none;

    --button-success-background-color: var(--gatling-color-success-400);
    --button-success-background-color-hover: var(--gatling-color-success-500);
    --button-success-text-color: var(--black);

    --button-danger-background-color: var(--gatling-color-error-400);
    --button-danger-background-color-hover: var(--gatling-color-error-500);
    --button-danger-text-color: var(--black);

    --button-primary-background-color: var(--gatling-color-primary-300);
    --button-primary-text-color: var(--black);
    --button-primary-background-color-hover: var(--gatling-color-primary-400);
    --button-primary-text-color-hover: var(--black);

    --button-outline-primary-background-color: var(--black);
    --button-outline-primary-text-color: var(--gatling-color-primary-400);
    --button-outline-primary-background-color-hover: var(--button-outline-primary-text-color);
    --button-outline-primary-text-color-hover: var(--button-outline-primary-background-color);
    --button-outline-primary-border-color: var(--button-outline-primary-text-color);

    --button-outline-danger-background-color: var(--black);
    --button-outline-danger-text-color: var(--gatling-color-error-400);
    --button-outline-danger-background-color-hover: var(--button-outline-danger-text-color);
    --button-outline-danger-text-color-hover: var(--button-outline-danger-background-color);
    --button-outline-danger-border-color: var(--button-outline-danger-text-color);
  }
}
