.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.logo {
  width: auto;
  height: 1rem;
}

.success-button, .danger-button {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  white-space: nowrap;
}

.success-button:hover, .danger-button:hover {
  cursor: pointer;
}

.success-button {
  background-color: #68b65c;
}

.danger-button {
  background-color: #f15b4f;
}
