$frontline-color-white: #ffffff;

.headerCell {
  text-align: start;
}

.filename {
  white-space: nowrap;
}

.actions {
  display: flex;
  gap: 0.2rem;
}

.deleteButton, .downloadButton {
  border-radius: 4px;
  padding: 8px;

  cursor: pointer;
  white-space: nowrap;
}

.deleteButton {
  background-color: var(--button-outline-danger-background-color);
  color: var(--button-outline-danger-text-color);
  border: 1px solid var(--button-outline-danger-border-color);

  &:not(:disabled) {
    &:hover, &:active {
      background-color: var(--button-outline-danger-background-color-hover);
      color: var(--button-outline-danger-text-color-hover);
    }
  }
}

.downloadButton {
  background-color: var(--button-outline-primary-background-color);
  color: var(--button-outline-primary-text-color);
  border: 1px solid var(--button-outline-primary-border-color);

  &:not(:disabled) {
    &:hover, &:active {
      background-color: var(--button-outline-primary-background-color-hover);
      color: var(--button-outline-primary-text-color-hover);
    }
  }
}
